header {
    text-align: center;
    margin: 20px 0;
}
main {
    position: relative;
    min-height: 400px;
}
.backgroundimage {
    background-image: url("UNCCH.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
