@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
header {
    width: 100%;
  height: 120px;              /* height of the block */
  background-color: #001f4d;  /* dark blue */
  display: flex;
  align-items: center;        /* vertical centering */
  justify-content: center;    /* horizontal centering */
  color: white;
  font-size: 1.5rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
body {
    position: relative;
    margin: 0;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("UNCCH.png");
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    z-index: -1;
}
main {
    color: #FFFFFF;
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    padding: 20px;
}
.logoimage {
    position: absolute;
    bottom: 20px;
    right: 20px;
    max-width: 100px;
    z-index: 1;
}
.par1 {
    font-family: Roboto;
    position: relative;
    z-index: 1;
    color: #FFFFFF;
}
.pars2 {
    font-family: Roboto;
    color: #FFFFFF;
}
.pars3 {
    font-family: Roboto;
    
    color: #FFFFFF;
}
.pars4 {
    font-family: Roboto;
    
    color: #FFFFFF;
}
.pars5 {
    font-family: Roboto;
    
    color: #FFFFFF;
}
.pars6 {
    font-family: Roboto;
    
    color: white;
}
.instalogo {
    border-radius: 8px;
    width: 200px;
    height: 150px;
}
.ytlogo {
    width: 200px;
    height: 150px;
    border-radius: 8px;
}
.linkedlogo {
    width: 200px;
    height: 150px;
    border-radius: 8px;
}
.instagramlink {
    font-family: Roboto, Helvetica, sans-serif;
    text-align: center;
}
.youtubelink {
    font-family: Roboto, Helvetica, sans-serif;
    text-align: center;
}
.linkedinlink {
    font-family: Roboto, Helvetica, sans-serif;
    text-align: center;
}
.my-button {
     background-color: #4B9CD3; /* UNC Blue */
    color: white;              /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 20px;
}
